# Python Requirements file.

streamlit==1.31.0
langchain==0.1.0
langchain-openai==0.0.2
langchain-pinecone==0.0.1
pinecone-client==3.0.0
openai==1.10.0
python-dotenv==1.0.0

# PDF handling and retrieval
pypdf
PyPDF2
PyPDF4
reportlab
pdfkit
html2text

# For AI assistant project
beautifulsoup4
black
tiktoken
unstructured
nltk
fastapi
jinja2
uvicorn
tqdm
isort
firecrawl-py
pillow
langsmith

# Streamlit stuff
uuid
google-api-python-client
grpcio
grpcio-tools
protobuf<=3.20.1
watchdog

# Google API
gspread
oauth2client
selenium
pandas
gspread_dataframe
bs4
google-auth 
google-auth-oauthlib 
google-auth-httplib2 
requests 

# Interpret as images
pdfplumber
pdfminer
chardet
pdfminer.six